{% extends "signal_and_noise_generation/layout.html" %}
{% load static %}

{% block body %}

<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{%url 'index'%}">Rysuj</a>
    </li>
</ul>

<form id="drawPlotForm" method="post" action="{%url 'draw_plot'%}">
    {% csrf_token %}
    <div class="row mb-3 row-input">
        <h2>Rysuj wykres</h2>
    </div>
    <div class="row mb-3 row-input">
        <div class="input-group addFormInput">
            {{ form.function }}
        </div>
    </div>
    <div class="row mb-3 row-input">
        <div class="input-group addFormInput">
            {{ form.amplitude }}
            <span class="input-group-text">Amplituda</span>
            <span class="input-group-text">(A)</span>
        </div>
        <div class="input-group addFormInput">
            {{ form.start_time }}
            <span class="input-group-text">Czas początkowy</span>
            <span class="input-group-text">(s)</span>
        </div>
    </div>
    <p> </p>

    <div class="row mb-3 row-input">
        <div class="input-group addFormInput">
            {{ form.duration }}
            <span class="input-group-text">Czas trwania</span>
            <span class="input-group-text">(s)</span>
        </div>
        <div class="input-group addFormInput">
            {{ form.T }}
            <span class="input-group-text">Okres podstawowy</span>
            <span class="input-group-text">(T)</span>
        </div>
    </div>

    <div class="row mb-3 row-input">
        <div class="input-group addFormInput">
            {{ form.kw }}
            <span class="input-group-text">Wsp. wypełnienia</span>
            <span class="input-group-text">(kw)</span>
        </div>
        <div class="input-group addFormInput">
            {{ form.jump_time }}
            <span class="input-group-text">Czas skoku</span>
            <span class="input-group-text">(s)</span>
        </div>
    </div>

    <div class="row mb-3 row-input">
        <div class="input-group addFormInput">
            {{ form.p }}
            <span class="input-group-text">Prawdopodobieństwo</span>
            <span class="input-group-text">(p)</span>
        </div>
        <div class="input-group addFormInput">
            {{ form.f }}
            <span class="input-group-text">Częst. prób.</span>
            <span class="input-group-text">Hz</span>
        </div>
    </div>

    <div class="row mb-3 row-input">
        <button type="submit" class="btn btn-primary">Rysuj wykres</button>
    </div>

</form>

{% endblock %}