{% extends "signal_and_noise_generation/layout.html" %}
{% load static %}

{% block body %}

<ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="{%url 'index'%}">Rysuj</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Operacje</a>
    </li>
</ul>

<img src="data:image/png;base64,{{ plot }}" alt="Plot">

<form id="drawPlotForm">
    <h3> Parametry sygnału </h3>

    <p>Wartość średnia sygnału: {{ mean_value }}</p>
    <p>Wartość średnia bezwzględna sygnału: {{ mean_abs_value }}</p>
    <p>Wartość skuteczna sygnału: {{ effective_value }}</p>
    <p>Wariancja sygnału: {{ variance }}</p>
    <p>Moc średnia sygnału: {{ mean_power }}</p>

</form>
{% endblock %}